{{!-- Import custom stylesheet to layout --}}
{{#section 'css'}}
    <style>
	.clubCardPic {
		width: 40px;
		height: 40px;
		border-radius: 50px;
	}
	.clubCardIcon {
		font-size: 2.8rem !important;
	}
	i {
		margin-right: 8px;
	}
	</style>
{{/section}}
{{!-- Import custom script to layout --}}
{{#section 'js'}}
	<script src="/home/assets/vendors/custom/jquery-ui/jquery-ui.bundle.js" type="text/javascript"></script>
	<script src="/home/assets/demo/default/custom/components/portlets/tools.js" type="text/javascript"></script>
	<script src="/home/assets/demo/default/custom/components/portlets/draggable.js" type="text/javascript"></script>
	
	<script>
		function fillEditModal(portletId){
			// Read data from selected portlet
			var pickedPortlet = $('#' + portletId);
			var pickedClubName = pickedPortlet.find('.club-name').html();
			var pickedClubId = pickedPortlet.find('.club-id').html();
			var pickedClubAccount = pickedPortlet.find('.club-account').html();
			
			// Fill it into edit modal
			$('#edit-club-name').val(pickedClubName);
			$('#edit-club-id').val(pickedClubId);
			$('#edit-club-account').val(pickedClubAccount);

		}
	</script>
{{/section}}

{{!-- Header goes here --}}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">CMS 帳號設定</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">-</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">Resources</span>
					</a>
				</li>
				<li class="m-nav__separator">-</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">Timesheet</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">Quick Actions</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">Activity</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">Messages</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">FAQ</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">Support</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit">
									</li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Submit</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->

{{!-- Content goes here --}}
<div class="m-content">
					
	<div class="row" id="m_sortable_portlets">
		<!--begin::col-->
		<div class="col-lg-6">
			{{!-- Iterate and print out the first part of club data --}}
			{{#if clubs}}
				{{#each clubs.left}}
				<!--begin::Portlet-->
				<div id="{{account}}" class="m-portlet m-portlet--mobile m-portlet--sortable m-portlet--success m-portlet--head-solid-bg" m-portlet="true">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon">
									{{#if smallIcon}} <img src="{{smallIcon}}" alt="" class="clubCardPic">
									{{else}} <i class="fa clubCardIcon fa-user-circle"></i>
									{{/if}}
								</span>
								<h3 class="club-name m-portlet__head-text">{{name}}</h3>
							</div>
						</div>
						<!--begin::m-portlet__head-tools-->
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<a href="#" m-portlet-tool="toggle" class="portlet-collapse-btn m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_8zsd929i58"><i class="la la-angle-down"></i></a>
								<div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_8zsd929i58" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(589px, -32px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 44px;"></div>                            <div class="tooltip-inner">Collapse</div>                        </div></li>
							</ul>
						</div>
						<!--end::m-portlet__head-tools-->
					</div>

					<div class="m-portlet__body">
						<!--begin:: row -->
						<div class="row m-row--no-padding m-row--col-separator-xl">
							<!--begin:: col -->
							<div class="col-md-12 col-lg-12 col-xl-6">

								<!--begin:: Widgets/Stats2-1 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">俱樂部 ID</h3>
												{{!-- <span class="m-widget1__desc"></span> --}}
											</div>
											<div class="col m--align-right">
												<span class="club-id m-widget1__number m--font-primary">{{cmsId}}</span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">會員數</h3>
												<span class="m-widget1__desc">當前人數 / 最大人數</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-accent"> {{curMember}} / {{maxMember}} </span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">管理員數</h3>
												<span class="m-widget1__desc">當前人數 / 最大人數</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-success"> {{curManage}} / {{maxManage}} </span>
											</div>
										</div>
									</div>
								</div>

								<!--end:: Widgets/Stats2-1 -->
							</div>
							<!--end::col-->
							<!--begin:: col -->
							<div class="col-md-12 col-lg-12 col-xl-6">

								<!--begin:: Widgets/Stats2-2 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">俱樂部等級</h3>
												<span class="m-widget1__desc">當前等級</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-brand">{{level}}</span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">基金</h3>
												<span class="m-widget1__desc">當前數量</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-danger">{{fund}}</span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">鑽石</h3>
												<span class="m-widget1__desc">當前數量</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-warning">{{diamond}}</span>
											</div>
										</div>
									</div>
								</div>

								<!--begin:: Widgets/Stats2-2 -->
							</div>
							<!--end::col-->
						</div>
						<!--end::row-->

						<!--begin:: row -->
						<div class="row m-row--no-padding">
							<div class="col">
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">俱樂部帳號</h3>
												{{!-- <span class="m-widget1__desc"></span> --}}
											</div>
											<div class="col m--align-right">
												<span class="club-account m-widget1__number m--font-info">{{account}}</span>
											</div>
											
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">俱樂部密碼</h3>
												{{!-- <span class="m-widget1__desc"></span> --}}
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-info">{{password}}</span>
											</div>
											
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												{{!-- <h3 class="m-widget1__title"></h3> --}}
												{{!-- <span class="m-widget1__desc"></span> --}}
											</div>
											<div class="col m--align-right">
												<button onclick="fillEditModal({{account}})" data-toggle="modal" data-target="#edit-modal" type="button"  class="btn m-btn--square  btn-outline-accent m-btn m-btn--custom m-btn--outline-2x"><i class="la la-edit"></i> <span>編輯設定</span></button>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<!--end::Portlet body-->	
					<!--begin::Portlet footer-->
					{{!-- <div class="m-portlet__foot">

					</div> --}}
					<!--end::Portlet footer-->

				</div>
				<!--end::Portlet-->
				{{/each}}

				{{#if clubs.isEven}}
				<!--begin::add Portlet-->
				<div class="m-portlet m-portlet--mobile m-portlet--sortable" m-portlet="true">
					<div class="m-portlet__body">
						<div class="row m-row--no-padding">
							<div class="col">
								<button data-toggle="modal" data-target="#add-modal" type="button" class="btn m-btn--square btn-block btn-lg btn-accent m-btn m-btn--air m-btn--custom m-btn--bolder"><i class="la la-plus"></i>新增俱樂部帳號</button>
								{{!-- <button data-toggle="modal" data-target="#add-modal" type="button" class="btn m-btn--square btn-block btn-lg btn-outline-accent m-btn m-btn--custom m-btn--bolder m-btn--outline-2x"><i class="la la-plus"></i>新增俱樂部帳號</button> --}}
							</div>
						</div>
						
					</div>
				</div>
				<!--end::add Portlet-->
				{{/if}}
			{{/if}}
			<!-- begin:Empty Portlet: sortable porlet required for each columns! -->
			<div class="m-portlet m-portlet--sortable-empty">
			</div>

			<!--end::Empty Portlet-->
		</div>
		<!--end::col-->
		<!--begin::col-->
		<div class="col-lg-6">

			{{!-- Iterate and print out the second part of club data --}}
			{{#if clubs}}
				{{#each clubs.right}} 
				<!--begin::Portlet-->
				<div id="{{account}}" class="m-portlet m-portlet--mobile m-portlet--sortable m-portlet--success m-portlet--head-solid-bg" m-portlet="true">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon">
									{{#if smallIcon}} <img src="{{smallIcon}}" alt="" class="clubCardPic">
									{{else}} <i class="fa clubCardIcon fa-user-circle"></i>
									{{/if}}
								</span>
								<h3 class="club-name m-portlet__head-text">{{name}}</h3>
							</div>
						</div>
						<!--begin::m-portlet__head-tools-->
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<a href="#" m-portlet-tool="toggle" class="portlet-collapse-btn m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_8zsd929i58"><i class="la la-angle-down"></i></a>
								<div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_8zsd929i58" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(589px, -32px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 44px;"></div>                            <div class="tooltip-inner">Collapse</div>                        </div></li>
							</ul>
						</div>
						<!--end::m-portlet__head-tools-->
					</div>

					<div class="m-portlet__body">
						<!--begin:: row -->
						<div class="row m-row--no-padding m-row--col-separator-xl">
							<!--begin:: col -->
							<div class="col-md-12 col-lg-12 col-xl-6">

								<!--begin:: Widgets/Stats2-1 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">俱樂部 ID</h3>
												{{!-- <span class="m-widget1__desc"></span> --}}
											</div>
											<div class="col m--align-right">
												<span class="club-id m-widget1__number m--font-primary">{{cmsId}}</span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">會員數</h3>
												<span class="m-widget1__desc">當前人數 / 最大人數</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-accent"> {{curMember}} / {{maxMember}} </span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">管理員數</h3>
												<span class="m-widget1__desc">當前人數 / 最大人數</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-success"> {{curManage}} / {{maxManage}} </span>
											</div>
										</div>
									</div>
								</div>

								<!--end:: Widgets/Stats2-1 -->
							</div>
							<!--end::col-->
							<!--begin:: col -->
							<div class="col-md-12 col-lg-12 col-xl-6">

								<!--begin:: Widgets/Stats2-2 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">俱樂部等級</h3>
												<span class="m-widget1__desc">當前等級</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-brand">{{level}}</span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">基金</h3>
												<span class="m-widget1__desc">當前數量</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-danger">{{fund}}</span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">鑽石</h3>
												<span class="m-widget1__desc">當前數量</span>
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-warning">{{diamond}}</span>
											</div>
										</div>
									</div>
								</div>

								<!--begin:: Widgets/Stats2-2 -->
							</div>
							<!--end::col-->
						</div>
						<!--end::row-->

						<!--begin:: row -->
						<div class="row m-row--no-padding">
							<div class="col">
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">俱樂部帳號</h3>
												{{!-- <span class="m-widget1__desc"></span> --}}
											</div>
											<div class="col m--align-right">
												<span class="club-account m-widget1__number m--font-info">{{account}}</span>
											</div>
											
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">俱樂部密碼</h3>
												{{!-- <span class="m-widget1__desc"></span> --}}
											</div>
											<div class="col m--align-right">
												<span class="m-widget1__number m--font-info">{{password}}</span>
											</div>
											
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												{{!-- <h3 class="m-widget1__title"></h3> --}}
												{{!-- <span class="m-widget1__desc"></span> --}}
											</div>
											<div class="col m--align-right">
												<button onclick="fillEditModal({{account}})" data-toggle="modal" data-target="#edit-modal" type="button"  class="btn m-btn--square  btn-outline-accent m-btn m-btn--custom m-btn--outline-2x"><i class="la la-edit"></i> <span>編輯設定</span></button>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<!--end::Portlet body-->	
					<!--begin::Portlet footer-->
					{{!-- <div class="m-portlet__foot">

					</div> --}}
					<!--end::Portlet footer-->

				</div>
				<!--end::Portlet-->
				{{/each}}

				{{#unless clubs.isEven}}
				<!--begin::add Portlet-->
				<div class="m-portlet m-portlet--mobile m-portlet--sortable" m-portlet="true">
					<div class="m-portlet__body">
						<div class="row m-row--no-padding">
							<div class="col">
								<button data-toggle="modal" data-target="#add-modal" type="button" class="btn m-btn--square btn-block btn-lg btn-accent m-btn m-btn--air m-btn--custom m-btn--bolder"><i class="la la-plus"></i>新增俱樂部帳號</button>
								{{!-- <button data-toggle="modal" data-target="#add-modal" type="button" class="btn m-btn--square btn-block btn-lg btn-outline-accent m-btn m-btn--custom m-btn--bolder m-btn--outline-2x"><i class="la la-plus"></i>新增俱樂部帳號</button> --}}
							</div>
						</div>
						
					</div>
				</div>
				<!--end::add Portlet-->
				{{/unless}}
			{{/if}}

			<!-- begin:Empty Portlet: sortable porlet required for each columns! -->
			<div class="m-portlet m-portlet--sortable-empty">
			</div>

			<!--end::Empty Portlet-->
		</div>
		<!--end::col-->
	</div>


	<!--begin::edit Modal-->
	<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
			<div class="modal-content">
				<!--begin::Form-->
				<form autocomplete="off" class="m-form m-form--group-seperator-dashed" >
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">編輯俱樂部</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group m-form__group">
							<label for="example_input_full_name">當前俱樂部名稱</label>
							<div class="m-input-icon m-input-icon--left">
								<input id="edit-club-name" type="text" class="form-control m-input"  disabled>
								<span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-home"></i></span></span>
							</div>
						</div>
						<div class="form-group m-form__group">
							<label for="example_input_full_name">當前俱樂部ID</label>
							<div class="m-input-icon m-input-icon--left">
								<input id="edit-club-id" type="text" class="form-control m-input"  disabled>
								<span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-info"></i></span></span>
							</div>
							
						</div>
						<span class="m-form__help">請檢查上述資料是否為欲修改的俱樂部</span>

						<div class="form-group m-form__group">
							<label for="example_input_full_name">俱樂部帳號</label>
							<div class="m-input-icon m-input-icon--left">
								<input id="edit-club-account" type="text" class="form-control m-input" placeholder="請輸入新的 CMS 帳號" required>
								<span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-user"></i></span></span>
							</div>
						</div>
						<div class="form-group m-form__group">
							<label for="example_input_full_name">俱樂部密碼</label>
							<div class="m-input-icon m-input-icon--left">
								<input id="edit-club-password" type="password" class="form-control m-input" placeholder="請輸入新的 CMS 密碼" autocomplete="new-password" required>
								<span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-key"></i></span></span>
							</div>
						</div>	
						<span class="m-form__help">如果要修改，請填入新的 CMS 帳號或密碼 </span>
					</div>
					<div class="modal-footer">
						<div class="col m--align-left">
							<button type="button" class="btn m-btn--square  btn-danger m-btn m-btn--custom  ">刪除此帳號</button>
						</div>
						<div class="col m--align-right">
							<button type="button" class="btn m-btn--square  btn-primary m-btn m-btn--custom  ">提交修改</button>
							<button type="button" class="btn m-btn--square  btn-secondary m-btn m-btn--custom  "  data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
		</div>
	</div>
	<!--end::edit Modal-->

	<!--begin::add Modal-->
	<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
			<div class="modal-content">
				<!--begin::Form-->
				<form class="m-form" autocomplete="off">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">新增俱樂部帳號</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group m-form__group">
							<label for="example_input_full_name">俱樂部帳號</label>
							<div class="m-input-icon m-input-icon--left">
								<input id="add-club-account" type="text" class="form-control m-input" placeholder="請輸入 CMS 帳號" required>
								<span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-user"></i></span></span>
							</div>
						</div>
						<div class="form-group m-form__group">
							<label for="example_input_full_name">俱樂部密碼</label>
							<div class="m-input-icon m-input-icon--left">
								<input id="add-club-password" type="password" class="form-control m-input" placeholder="請輸入 CMS 密碼" autocomplete="new-password" required>
								<span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-key"></i></span></span>
							</div>
						</div>	
						<span class="m-form__help">請填入該俱樂部的 CMS 帳號和密碼 </span>
					</div>
					<div class="modal-footer">
						<div class="col m--align-right">
							<button type="button" class="btn m-btn--square  btn-primary m-btn m-btn--custom  ">確定新增</button>
							<button type="button" class="btn m-btn--square  btn-secondary m-btn m-btn--custom  "  data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
		</div>
	</div>
	<!--end::add Modal-->
</div>